@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
  --hero-height: 110vw;
  --hero-width: 110vw;
}
@screen md {
  :root {
    --hero-height: calc(theme('screens.md') / 2);
    --hero-width: 100%;
  }
}

@screen lg {
  :root {
    --hero-height: calc(theme('screens.lg') / 2);
  }
}

@screen xl {
  :root {
    --hero-height: calc(theme('screens.xl') / 2);
  }
}
body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.hero-image {
  height: calc(100vh - 77px);
}
nav a {
  color: var(--foreground-rgb);
  @apply no-underline;
  &:hover,
  &.active {
    @apply text-blue-400 underline cursor-pointer;
  }
}

a {
  @apply text-blue-400 underline;
}

.btn {
  @apply no-underline px-4 py-2 bg-red-600 text-white;
}

@define-mixin tag $name, $color {
  .tag-$(name) {
    background-color: var(--color-$(color)-400);
  }
  .blog-item-$(name) {
    article {
      background-color: var(--color-$(color)-600);
      .read-more {
        background-color: var(--color-$(color)-400);
      }
    }
  }
}

[class*='tag-'] {
  background-color: var(--color-grey-400);
}
[class*='blog-item-'] {
  article {
    background-color: var(--color-grey-600);
    .read-more {
      background-color: var(--color-grey-400);
    }
  }
}
@mixin tag travel, red {}
@mixin tag collections, blue {}
@mixin tag photography, plum {}
@mixin tag development, yellow {}
@mixin tag games, green {}
@mixin tag personal, orange {}
