
@define-mixin tag $name, $color,  {
  .tag-$(name) {
    background-color: var(--color-$(color)-400);
    color: var(--color-white);
    &:hover {
      background-color: var(--color-$(color)-800);
    }
  }
  .blog-item-$(name) {
    article {
      background-color: var(--color-$(color)-600);
      color: var(--color-white);
      a {
        color: var(--color-white);
      }
      .read-more {
        background-color: var(--color-$(color)-400);
        &:hover {
          background-color: var(--color-$(color)-800);
        }
      }
    }
  }
}
@define-mixin tag-dark $name, $color,  {
  .tag-$(name) {
    background-color: var(--color-$(color)-400);
    color: var(--color-black);
    &:hover {
      background-color: var(--color-$(color)-800);
    }
  }
  .blog-item-$(name) {
    article {
      background-color: var(--color-$(color)-600);
      color: var(--color-black);
      a {
        color: var(--color-black);
      }
      .read-more {
        background-color: var(--color-$(color)-400);
        &:hover {
          background-color: var(--color-$(color)-800);
        }
      }
    }
  }
}

[class*='tag-'] {
  background-color: var(--color-grey-400);
  color: var(--color-black);
  &:hover {
    color: var(--color-white);
    background-color: var(--color-grey-800);
  }
}
[class*='blog-item-'] {
  article {
    background-color: var(--color-grey-600);
    color: var(--color-black);
    a {
      color: var(--color-black);
    }
    .read-more {
      background-color: var(--color-grey-400);
      &:hover {
        color: var(--color-white);
        background-color: var(--color-grey-800);
      }
    }
  }
}
@mixin tag travel, red {}
@mixin tag collections, blue {}
@mixin tag photography, plum {}
@mixin tag-dark development, teal {}
@mixin tag-dark games, gold {}
@mixin tag-dark personal, orange {}
@mixin tag-dark escape-rooms, yellow {}
